
<md-content layout='column' flex>
    <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Colores aplicables</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column" layout-align="space-between">
          <md-chips>
      <md-chip ng-repeat="color in colors"
       ng-style="{'background-color':color.color}">color.nombre</md-chip>
<form name="userForm">
      <div md-color-picker ng-model="$ctrl.color.color" type=1 label="Elegir color" 
    md-color-history="true"></div>
    
    <md-input-container flex>
            <label>Nombre del Color</label>
            <input ng-model="$ctrl.color.nombre" >
          </md-input-container>
    </md-chips>

</form>   
         </md-card-content>
          <md-card-actions>
            <md-button class="md-button" aria-label="Settings">
             CANCELAR
            </md-button>
            <md-button class="md-button md-primary" ng-click="$ctrl.save()">
              GURADAR
            </md-button>
          </md-card-actions>
        
      </md-card>
</md-content>