<md-content layout='column' flex>
    <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Nuevo Producto</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column" layout-align="space-between">
        
              <form name="userForm">
        <div layout="column">
          <md-input-container flex>
            <label>Nombre del Producto</label>
            <input ng-model="$ctrl.product.name" >
          </md-input-container>
           <md-input-container  class="tx-area"  >
            <label>descripcion</label>
            <textarea ng-model="$ctrl.product.desc" md-maxlength="150" rows="2" md-select-on-focus></textarea>
          </md-input-container>
           </div>
         <div layout="row" flex>
         <md-button ng-repeat="talla in $ctrl.tallas" class="md-fab md-mini " ng-click="$ctrl.toolgerTallas(talla)"  ng-class="{'md-primary':$ctrl.isTalla(talla)}">
         {{talla.nombre}}
        </md-button>
         
          </div>
        <div md-color-picker ng-model="$ctrl.product.color" type=1 label="Elegir color" 
    md-color-history="true"></div>
         </md-card-content>
          <md-card-actions>
            <md-button class="md-button" aria-label="Settings">
             CANCELAR
            </md-button>
            <md-button class="md-button md-primary" ng-click="$ctrl.save()">
              GURADAR
            </md-button>
          </md-card-actions>
        
      </md-card>
</md-content>