<section name="Lista">
	<ab-cabecera>
		<mensaje>
			Estos son tus movimientos recientes
		</mensaje>
	</ab-cabecera>
	<br>
	<label class="control-label" for="importe">Filtrar:</label>
	<input type="text" name="filtro" placeholder="qué buscas?" class="input" ng-model="$ctrl.valorBuscado">
	<button class="btn-primary" ng-click="$ctrl.valorCorte=1">Ver todos los movimientos</button>
	<button class="btn-danger" ng-click="$ctrl.valorCorte=1000">Sólo grandes movimientos</button>
	<table class="table">
		<thead>
			<tr>
                <th>Id</th>
				<th><a href="" ng-click="$ctrl.campo = 'fecha'; $ctrlsentido = !$ctrl.sentido ">Fecha</a>
				</th>
				<th>Tipo</th>
				<th>Categoría</th>
				<th><a href="" ng-click="$ctrl.campo = 'importe'; $ctrlsentido = !$ctrl.sentido ">Importe</a>
				</th>
				<th>Valoración</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="movimiento in $ctrl.movimientos  | filter:$ctrl.valorBuscado |
            abGranImporte : $ctrl.valorCorte |
            orderBy:$ctrl.campo:$ctrl.sentido"
            ab-fila-movimiento2 movimiento="movimiento">
			</tr>
		</tbody>
	</table>
	{{$ctrl.movimientos}}
</section>